{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="shortcut icon" href="{% static 'img/python.png' %}" type="image/x-icon">
</head>
<body class="bg-blue-400">
    <header>
        <nav>
            <span>
                <img src="{% static 'img/python.png' %}" alt="logo_python">
                <h2>Django</h2>
            </span>
            <ul>
                <li><a href="">Configurações</a></li>
            </ul>
        </nav>
    </header>
    {% block conteudo %}
    {% endblock %}
    <footer>
        <div>
            <h3>Django</h3>
        </div>
        <p>All rights reservd Oliveira.js &copy; June 2023</p>
    </footer>
</body>
</html>