{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="shortcut icon" href="{% static 'img/python.png' %}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-400">
    <header class="flex">
        <nav class="bg-white flex justify-around items-center fixed w-full h-16 shadow-md">
            <span class="flex items-center gap-3">
                <img src="{% static 'img/python.png' %}" alt="logo_python" class="w-12 h-12">
                <h2>Django</h2>
            </span>
            <ul>
                <li><a href="">Configurações</a></li>
            </ul>
        </nav>
    </header>
    {% block conteudo %}
    {% endblock %}
    <footer>
        <div>
            <h3>Django</h3>
        </div>
        <p>All rights reservd Oliveira.js &copy; June 2023</p>
    </footer>
</body>
</html>